body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
.main-section {
    background-color: blanchedalmond;

}
.answer-buttons {
    display: flex;
    justify-content: space-around;
}
#header {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    align-items: center;
}
#header-img {
    width: 25%;
}
#initiate-game {
    display: flex;
    justify-content: center;
    align-items: center;
}
#current-question {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.answer-buttons {
    display: flex;
    justify-content: center;
}
#current-score {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
#restart-game {
    display: flex;
    justify-content: center;
}
